<div class="container">
  <form [formGroup]="editForm">
    <div class="row">
      <div class="col-md-12 form-group">
        <label>Name</label>
        <input [class.is-invalid]="submited && f.name.errors" class="form-control"
               formControlName="name"
               type="text">
        <div *ngIf="submited && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="col-md-12 form-group">
        <label>Address</label>
        <input [class.is-invalid]="submited && f.address.errors" class="form-control"
               formControlName="address"
               type="text">
        <div *ngIf="submited && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
      </div>
      <div class="col-md-12 form-group">
        <label>Email</label>
        <input [class.is-invalid]="submited && f.email.errors" autocomplete="new-email"
               class="form-control"
               formControlName="email" type="text">
        <div *ngIf="submited && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email is invalid</div>
        </div>
      </div>
      <div class="col-12 form-group">
        <button (click)="onSubmitUpdate()" class="btn btn-primary" type="button">Update</button>
        <button (click)="onCancel()" class="btn btn-danger ml-4">Cancel</button>
      </div>
    </div>
  </form>
</div>
