<div class="container">
  <form [formGroup]="loginForm">
    <div class="row">
      <div class="col-md-12">
        <label for="email">Email</label>
        <input [(ngModel)]="data.email" [class.is-invalid]="submited && f.email.errors" class="form-control"
               formControlName="email" id="email" required type="text">
        <div *ngIf="submited &&f.email.errors" class="text-danger">
          <div *ngIf="f.email.errors.required">Title is required</div>
          <div *ngIf="f.email.errors.email">Invalid</div>
        </div>
      </div>
      <div class="col-md-12">
        <label for="password">Password</label>
        <input [(ngModel)]="data.password" [class.is-invalid]="submited && f.password.errors" class="form-control"
               formControlName="password" id="password" required type="password">
        <div *ngIf="submited && f.password.errors" class="text-danger">
          <div *ngIf="f.password.errors.required">Title is required</div>
        </div>
      </div>
      <div class="col-md-12">
        <br><input (click)="onSubmit()" class="btn btn-danger" name="submit" type="submit" value="Submit">
      </div>
      <div *ngIf="errorMsg" class="invalid-feedback">
        <h3>{{errorMsg}}</h3>
      </div>
    </div>
  </form>
</div>
