<div class="container">
  <form [formGroup]="loginForm">
    <div class="row">
      <div class="col-12 form-group">
        <label for="email">Email</label>
        <input [class.is-invalid]="submitted && f.email.errors" class="form-control"
               formControlName="email" id="email" required type="text">
        <div *ngIf="this.submitted && f.email.errors" class="text-danger">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Invalid</div>
        </div>
      </div>
      <div class="col-12 form-group">
        <label for="password">Password</label>
        <input [class.is-invalid]="submitted && f.password.errors" class="form-control"
               formControlName="password" id="password" required type="password">
        <div *ngIf="submitted && f.password.errors" class="text-danger">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="col-12 form-group">
        <button (click)="onSubmit()" class="btn btn-primary">Login</button>
        <button (click)="onCancel()" class="btn btn-danger ml-4">Cancel</button>
      </div>
      <div *ngIf="errorMsg" class="invalid-feedback">
        <h3>{{errorMsg}}</h3>
      </div>
    </div>
  </form>
</div>
