<div class="container mt-5">
  <table class="table table-bordered text-center">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody *ngIf="registerRes">
    <tr *ngFor="let response of registerRes.data;index as i;">
      <td>{{ i + 1 }}</td>
      <td>{{ response.name }}</td>
      <td>{{ response.email }}</td>
      <td>{{ response.address }}</td>
      <td>
        <button (click)="edit(response.id)" class="btn btn-primary" routerLink=""><i class="fa fa-pencil"></i></button>
        <button (click)="delete(response.id)" class="btn btn-danger ml-2"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

